.button {
  display: inline-block;
  border: 2px solid var(--color-action-stroke);
  background-color: var(--color-action-bg);
  color: var(--color-action-text);
  padding: 0.7rem 1rem 0.8rem 1rem;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include apply-utility('font', 'sans');
}

.button:hover,
.button:focus {
  background: var(--color-action-hover-bg);
  color: var(--color-action-hover-text);
}

.button:focus:hover {
  outline: none;
}

.button:focus:not(:hover) {
  outline: 1px dotted var(--color-action-hover-text);
  outline-offset: -6px;
}

.button:active {
  transform: scale(0.99);
}
