.input-field {
  display: block;
  border: 1px dotted var(--color-text);
  border-radius: 0;
  background: transparent;
  padding: get-size(300) get-size('base');
  font: inherit;
  font-size: get-size(500);
  line-height: 1;
  min-width: 16rem;
  max-width: 26rem;
  margin: 0;
  white-space: normal;
  flex: auto;

  &:focus {
    outline: 1px solid var(--color-text);
    outline-offset: 2px;
  }
}
