.intro {
  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }

    .highlight {
      padding-top: 0;
    }
  }

  // Fancy wrapping
  @supports (box-decoration-break: clone) or (-webkit-box-decoration-break: clone) {
    background-image: var(--bg-dots);
  }

  .inner-wrapper {
    overflow: hidden;
  }
}
