.intro {
  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }

    .highlight {
      padding-top: 0;
    }
  }

  .inner-wrapper {
    overflow: hidden;
  }
}
