.scroll-track {
  --scroll-track-gutter: #{get-size('base')};

  display: flex;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex-shrink: 0;
  }

  > * + * {
    margin-left: var(--scroll-track-gutter);
  }
}
