<div class="[ availability ] [ desaturate dot-bg ] [ sf-flow ] [ gap-bottom-900 ]">
  <h2 class="font-base text-700 leading-tight">Hi 👋<br />I’m Andy, a freelance web&nbsp;designer</h2>
  <p class="text-500 leading-tight">{{ site.availability }}</p>
  <p>
    <a class="[ button ] [ weight-bold text-500 ]" href="mailto:me@andy-bell.design?subject=Hi there 👋 I’d love to hire you">Hire me</a>
  </p>
</div>
