<div class="[ availability ] [ desaturate dot-bg ] [ sf-flow ] [ gap-bottom-900 font-sans ]">
  <h2 class="text-700 leading-tight">Hi 👋<br />I’m Andy, a freelance web&nbsp;designer</h2>
  <p class="text-500 leading-tight">{{ site.availability }}</p>
  <p>
    <a class="[ button ] [ weight-bold text-500 ]" href="https://every-layout.dev">Buy Every Layout</a>
  </p>
</div>
