<footer role="contentinfo" class="[ site-foot ] [ font-sans pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-center ]">
      {% include "partials/components/nav.njk" %}
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        Powered by my Eleventy Starter Kit, <a href="https://hylia.website" rel="external">Hylia</a> — <a href="#main-content">Go back to the top</a>.
      </p>
    {% endif %}
  </div>
</footer>
