<a class="button skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-base pad-bottom-base ">
  <div class="wrapper">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/' | safe }}>
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M8 1L0 15h4.9568L8 9.67460225 11.0436 15H16z"/></svg>
      </a>
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
