{% set fullUrl = site.url + page.url %} 
{% set likes = webmentions | likesFilter(fullUrl) %}
{% set mentions = webmentions | webmentionsFilter(fullUrl) %}

<aside class="[ inner-wrapper ] [ pad-bottom-900 pad-bottom-900 text-500 ] [ sf-flow ]">
  {% if likes.length %}
    <h2>Likes</h2>
    <p id="likes-desc" class="visually-hidden">A list of people that have liked this page on social media or via their own blogs</p>
    <ol aria-describedby="likes-desc" class="[ avatar-group scroll-track ]">
      {% for like in likes %}
        <li>
          <a href="{{ like.author.url }}">
            <span class="visually-hidden">{{ like.author.name }}</span>
            <img 
              class="avatar"
              src="{{ like.author.photo | replace('https://webmention.io/avatar/', 'https://andy-bell-design-avatar.imgix.net/') }}?auto=format&w=100&q=10" 
              alt="Image of {{ like.author.name }}" 
              loading="lazy" />
          </a>
          <li>
          {% endfor %}
    </ol>
  {% endif %}
  {% if mentions.length %}
    <h2>Replies</h2>
    <p id="mentions-desc" class="visually-hidden">A list of comments and replies from social media or people’s websites</p>
    <ol class="[ sf-flow ] [ comments ]">
      {% for item in mentions %}
        <li>
          <article class="[ box-flex ] [ h-cite ]" id="webmention-{{ webmention['wm-id'] }}">
            <img 
              class="avatar"
              src="{{ item.author.photo | replace('https://webmention.io/avatar/', 'https://andy-bell-design-avatar.imgix.net/') }}?auto=format&w=100&q=10" 
              alt="Image of {{ item.author.name }}" 
              loading="lazy" />
            <div class="[ pad-left-base ] [ sf-flow ]">
              <header>
                <h3 class="font-base text-600 leading-tight">{{ item.author.name }}</h3>
                <p>
                  <time datetime="{{ item['wm-received'] | w3DateFilter }}" class="dt-published">{{ item['wm-received'] | dateFilter }}</time>
                </p>
                <p class="text-300">
                  <a href="{{ item.url }}" class="color-current">Link to source</a>
                </p>
              </header>
              {% if item.content.value %}
                <div class="[ post__body ] [ p-content ]">
                  {{ item.content.value | safe }}
                </div>
              {% else %}
                <p class="p-content">{{ item.content.text }}</p>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
  <div class="sf-flow">
    <h2>Leave a reply</h2>
    <p>Post a link to a response that you’ve written to this page on your website.</p>
    <form method="post" class="sf-flow" action="https://webmention.io/andy-bell.design/webmention">
      <label for="responseField" class="weight-bold">Your URL</label>
      <div class="box-flex" style="--flow-space: 0.3rem">
        <input class="input-field" type="url" name="source" id="responseField" required />
        <button type="submit" class="[ button ] [ weight-bold text-500 ]">Send</button>
      </div>
      <input type="hidden" name="target" value="{{ site.url }}{{ page.url }}" />
    </form>
  </div>
</aside>
