{% set fullUrl = site.url + page.url %} 
{% set likes = webmentions | likesFilter(fullUrl) %}
{% set mentions = webmentions | webmentionsFilter(fullUrl) %}

{% if likes.length or mentions.length %}
  <aside class="[ inner-wrapper ] [ pad-bottom-900 pad-bottom-900 text-500 ] [ sf-flow ]">
    {% if likes.length %}
      <h2>Likes</h2>
      <p id="likes-desc" class="visually-hidden">A list of people that have liked this page on social media or via their own blogs</p>
      <ol aria-describedby="likes-desc" class="[ avatar-group scroll-track ]">
        {% for like in likes %}
          <li>
            <a href="{{ like.author.url }}">
              <span class="visually-hidden">{{ like.author.name }}</span>
              <img 
                class="avatar"
                src="{{ like.author.photo | replace('https://webmention.io/avatar/', 'https://andy-bell-design-avatar.imgix.net/') }}?auto=format&w=100&q=10" 
                alt="Image of {{ like.author.name }}" 
                loading="lazy" />
            </a>
          <li>
        {% endfor %}
      </ol>
    {% endif %}
    {% if mentions.length %}
      <h2>Replies</h2>
      <p id="mentions-desc" class="visually-hidden">A list of comments and replies from social media or people’s websites</p>
      <ol class="[ sf-flow ] [ comments ]">
        {% for item in mentions %}
          <li>
            <article class="box-flex">
              <img 
                class="avatar"
                src="{{ item.author.photo | replace('https://webmention.io/avatar/', 'https://andy-bell-design-avatar.imgix.net/') }}?auto=format&w=100&q=10" 
                alt="Image of {{ item.author.name }}" 
                loading="lazy" />
              <div class="[ pad-left-base ] [ sf-flow ]">
                <header>
                  <h3 class="font-base text-600 leading-tight">{{ item.author.name }}</h3>
                  <p>
                    <time datetime="{{ item['wm-received'] | w3DateFilter }}" class="dt-published">{{ item['wm-received'] | dateFilter }}</time>
                  </p>
                </header>
                {% if item.content.value %}
                  <div class="post__body">
                    {{ item.content.value | safe }}
                  </div>
                {% else %}
                  <p>{{ item.content.text }}</p>
                {% endif %}
              </div>
            </article>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </aside>
{% endif %}
