---
permalink: feed/all.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Everything from andy-bell.design</title>
	<subtitle>Writing, notes and links from andy-bell.design</subtitle>
	<link href="https://andy-bell.design/feed/writing.xml" rel="self"/>
	<link href="https://andy-bell.design/"/>
	<updated>{{ collections.allFeed | rssLastUpdatedDate }}</updated>
	<id>https://andy-bell.design</id>
	<author>
		<name>Andy Bell</name>
		<email>me@andy-bell.design</email>
	</author>
	{%- for post in collections.allFeed.slice(0, 15) %}
        {% if not post.data.external %}
            {% set absolutePostUrl %}https://andy-bell.design{{ post.url | url }}{% endset %}
            <entry>
                <title>{{ post.data.title }}</title>
                <author>
                    <name>Andy Bell</name>
                </author>
                <link href="{{ absolutePostUrl }}"/>
                <updated>{{ post.date | rssDate }}</updated>
                <id>{{ absolutePostUrl }}</id>
                <content type="html"><![CDATA[
                    {{ post.templateContent | safe }}
                    {% if post.data.linkUrl %}
                        <p><b>Link: </b><a href="{{ post.data.linkUrl }}">{{ post.data.linkUrl }}</a></p>
                    {% endif %}
                    {% if post.data.image %}
                        <p>
                            <img src="{{ post.data.image }}" alt="{{ alt }}" style="max-width: 30rem" /> 
                        </p>
                    {% endif %}
             ]]></content>
            </entry>
        {% endif %}
	{%- endfor %}
</feed>
