---
permalink: feed/links.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>andy-bell.design Links</title>
	<subtitle>Some handy links that I like to share with my Pals</subtitle>
	<link href="https://andy-bell.design/feed/links.xml" rel="self"/>
	<link href="https://andy-bell.design/"/>
	<updated>{{ collections.links | rssLastUpdatedDate }}</updated>
	<id>https://andy-bell.design</id>
	<author>
		<name>Andy Bell</name>
		<email>me@andy-bell.design</email>
	</author>
	{%- for post in collections.sortedLinks.slice(0, 15) %}
        {% if not post.data.external %}
            {% set absolutePostUrl %}https://andy-bell.design{{ post.url | url }}{% endset %}
            <entry>
                <title>{{ post.data.title }}</title>
                <author>
                    <name>Andy Bell</name>
                </author>
                <link href="{{ absolutePostUrl }}"/>
                <updated>{{ post.date | rssDate }}</updated>
                <id>{{ absolutePostUrl }}</id>
                <content type="html"><![CDATA[
                    {{ post.templateContent | safe }}
                    <p><a href="{{ post.data.linkUrl }}">{{ post.data.linkUrl }}</a></p>
             ]]></content>
            </entry>
        {% endif %}
	{%- endfor %}
</feed>
