---
title: Latest updates
pagination:
  data: collections.feed
  size: 5
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
    - tweets
    - toots
    - writing
  addAllPagesToCollections: true
permalink: feed/page/{{ pagination.pageNumber }}/index.html
---

{% extends 'layouts/base.njk' %}
{% set pageType = 'Updates Feed' %}
{% set introHeading %}Updates: page {{ pagination.pageNumber + 1 }}{% endset %}

{% if pagination.pageNumber > 0 %}
  {% set paginationPrevUrl = pagination.previousPageHref %}
  {% set paginationPrevText = 'Newer items' %}
{% endif %}
{% if pagination.nextPageHref %}
  {% set paginationNextUrl = pagination.nextPageHref %}
  {% set paginationNextText = 'Older items' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section class="[ post-list ] [ gap-bottom-900 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-900 ]" reversed>
          {% for item in pagination.items %}
            <li class="post-list__item">
              <article class="[ post ] [ sf-flow ]">
                <h2 class="font-base leading-tight text-700 weight-mid">
                  <a class="post-list__link" href="{{ item.url }}">{{ item.data.title }}</a>
                </h2>
                <p class="gap-top-300 weight-mid">
                  <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                </p>
                <div class="[ post__body ] [ inner-wrapper ] [ text-500 ] [ sf-flow ] [ e-content ]">
                  {{ item.templateContent | safe }}
                  {% if item.data.image %}
                    <p>
                      <img src="{{ item.data.image }}" alt="{{ item.data.alt }}" /> 
                    </p>
                  {% endif %}
                  {% if item.data.linkUrl %}
                    <p><a href="{{ item.data.linkUrl }}" rel="external" aria-label="Visit: {{ item.data.linkUrl }}">{{ item.data.linkUrl }}</a></p>
                  {% endif %}
                </div>
              </article>
            </li>
          {% endfor %}
        </ol>
      </div>
    </section>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}

