:root {
  --color-dark: #{get-color('dark')};
  --color-light: #{get-color('light')};
  --color-bg: #{get-color('light')};
  --color-text: #{get-color('dark')};
  --color-action-bg: #{get-color('dark')};
  --color-action-text: #{get-color('light')};
  --color-action-hover-bg: #{get-color('light')};
  --color-action-hover-text: #{get-color('dark')};
  --color-action-stroke: #{get-color('dark')};
  --color-highlight: #{get-color('light')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};

  --bg-dots: url(#{"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='"+str_replace(
      #{get-color('dark')},
      '#',
      '%23'
    )+"' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"});
}

@include dark-mode() {
  --color-mode: 'dark';
  --color-bg: #{get-color('dark')};
  --color-text: #{get-color('light')};
  --color-action-bg: #{get-color('light')};
  --color-action-text: #{get-color('dark')};
  --color-action-hover-bg: #{get-color('dark')};
  --color-action-hover-text: #{get-color('light')};
  --color-action-stroke: #{get-color('light')};
  --color-highlight: #{get-color('dark')};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};

  --bg-dots: url(#{"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='"+str_replace(
      #{get-color('light')},
      '#',
      '%23'
    )+"' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"});
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}

// Remove dots for reduced motion
@media (prefers-reduced-motion: reduce) {
  :root {
    --bg-dots: hsla(0, 0%, 60%, 0.5);
  }
}
