@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Local mixins
@import 'mixins/dark-mode';

// Functions / Utils
@import 'utilities/str-replace';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES 
 */
body {
  background: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main:focus {
  outline: none;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  border: none;
  border-top: 1px dotted;
  margin: get-size(900) auto;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/dot-bg';
@import 'utilities/desaturate';
@import 'utilities/highlight';
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/availability';
@import 'components/avatar';
@import 'components/avatar-group';
@import 'components/button';
@import 'components/comments';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/input-field';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/scroll-track';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
